* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts being used by the oba */

@font-face {
    font-family: 'avenirroman';
    src: url('avenir-roman-webfont.woff2') format('woff2'),
         url('avenir-roman-webfont.woff') format('woff'),
         url('avenir-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirmedium';
    src: url('avenir-medium-webfont.woff2') format('woff2'),
         url('avenir-medium-webfont.woff') format('woff'),
         url('avenir-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirblack';
    src: url('avenir_-black-webfont.woff2') format('woff2'),
         url('avenir_-black-webfont.woff') format('woff'),
         url('avenir_-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

main.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

main {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: 'avenirroman';
}

body {
    background-color: var(--body-color);
    font-family: 'avenirroman';
    
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}


section {
    position: relative;
  }

.overview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


article  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7em;
}

/* profiles */

.profile-avatars {
    width: 80%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-name {
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 1em;
    margin-bottom: 2.5em;
}

.profile-name a{
    text-decoration: none;
    color: black;
}


h1 {
    text-align: left;
    margin-left: 3.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}


 h2 {
  text-align: left;
  margin-left: 1.5em;
  font-size: 2em;
}

h2  {
    margin-top: 3em;
    margin: 1em;
    text-align: center;
}  

h2 a {
    text-decoration: none;
    color: black;
}

h3  {
    padding-top: 1em;
    font-size: 2em;
    padding-left:3.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


p {
    text-align: center;
    margin-left: 5em;
}

article p {
    text-align: center;
    margin-left:-1em;
}

.oba-logo { 
    position: absolute;
    left: 110px;
    margin-top: 1em;  
    margin-bottom: 3em; 
    width: 3.5em;
}
 

.zoek-balk {
    padding: 20px;
}

.zoek-balk-menu {
    position: absolute;
    right: 8px;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    padding: 7px;
    width: 100px;
}

.zoek-balk input {
    height: 14px;
    width: 60px;
    outline: none;
    border: none;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    transition: var(--tran-05);
    padding-left: 10px;
}

/* scroll */

/* main .scroll-container {
  
} */

/* article.alle-items {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-items {

    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
} */

/* .scroll-items img {
    padding: 10px;
}  */


/* items */

.item-titels {
    /* margin-right: 2em; */
    margin-bottom: 2.5em;

}

.items {
    width: 65%;
    object-fit: cover;
    border-radius: 10px;
    margin: 1em;
    margin-left: 1em;
}

.title-items {
    text-align: left;
    text-decoration: none;
    color: black;
}

a .title-items {
    margin-top: 3em;
    margin-left: 2.5em;
    margin: 1em;
    text-decoration: none;
    text-align: left;
    color: black;
}


/* --- detail item --- */

.item-afbeelding {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    margin: 1em;
}


a .item-titel {
    text-decoration: none;
}


.item-title  {
    text-align: left;
    text-decoration: none;
    color: black;
    margin-top: 2.5em;
    font-size: 1em;
}


button {
    padding: .3em .6em;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: black;
    background: var(--sidebar-color);
    cursor: pointer;
    margin-left: 0.5em; 
    margin:em;
}



/* --- like button --- */

.like-button {
    border: none;
}



/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close{
    width: 88px;
}

.sidebar li {
    height: 50px;
    /* list-style: none; */
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
 }

.sidebar .text, .sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
 }
    

.sidebar .text{
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
}

.sidebar.close .text{
        opacity: 0;
}
    

.sidebar .text-long, .sidebar .icon{
        color: var(--text-color);
        transition: var(--tran-03);
}
    
.sidebar .text-long{
        font-size: 17px;
        font-weight: 500;
        resize: none;
        opacity: 1;
}

.sidebar.close .text-long{
        resize: none;
        opacity: 0;
}
    
    
/* =========================== */
    
    
img {
        object-fit: cover;
}


/* --- sidebar header ---- */

.sidebar header {
        position: relative;
 }
    
    
.sidebar header .image-text{
        display: flex;
        align-items: center;
}

.sidebar header .logo-text{
        display: flex;
        flex-direction: column;
}

header .image-text .name {
        margin-top: 2px;
        font-size: 18px;
        font-weight: 600;
}
    
header .image-text .profession{
        font-size: 16px;
        margin-top: -2px;
        display: block;
}
    
    
.sidebar header .image{
        display: flex;
        align-items: center;
        justify-content: center;
}
    
    
.sidebar header .image img{
       width: 50px;
       height: 50px;
       border-radius: 50%;
       object-fit: cover;
}
    
    
.sidebar header .toggle{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
}
    
    
body.dark .sidebar header .toggle{
        color: var(--text-color);
}
    

/* ---- */
    
.sidebar.close .toggle {
        transform: translateY(-50%) rotate(0deg);
}
    
    
.sidebar .menu {
        margin-top: 18px;
}
    
    
.sidebar li.search-box {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
}
    
    
.sidebar li.search-box input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
}

.sidebar li a {
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
}
    
    
.sidebar li a:hover{
        background-color: var(--primary-color);
}

   
.sidebar li a:hover .icon, .sidebar li a:hover .text{
        color: var(--sidebar-color);
 }

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
        color: var(--text-color);
 }
    
    
.sidebar .menu-bar{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
 }

 .menu-bar::-webkit-scrollbar{
        display: none;
}

.sidebar .menu-bar .mode {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
}
    
.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}
    
.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{ 
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}


.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}


body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{ 
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}


/* mediaqueries */


